img.figure {
    padding-left: 80px;
    width: 640px;
}

div.part h2 {
    margin: 2px;
    padding: 5px;
    border: 3px solid black;
    background-color: blue;
    color: white;
}

div.slide h3 {
    margin: 2px;
    padding: 5px;
    border: 2px solid gray;
    background-color: #00bfff;
}

pre.man {
    padding: 5px;
    font: fixed;
    background-color: tan;
    font-size: 12px;
}

pre.python {
    padding: 5px;
    background-color: #d8bfd8;
    font: fixed;
}

pre.shell {
    padding: 5px;
    font: fixed;
    background-color: black;
    color: lime;
}

p.note:before {
    content: "NOTE: ";
}
p.note {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 0.8em;
}

/**/
